.search {
    margin: auto;
    padding-top: 40px;
    width: 50vw;
}

.sorting {
    margin: 20px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;

}

@media (max-width: 500px) {
    .search {
        padding-top: 10px;
    }

    .search-input {
        width: 200px;
    }

    .sorting {
        width: 200px;
    }
}