/* Books */
.list {
    margin: 20px auto 50px;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0, 50px;
}

.list a {
    text-decoration: none;
    color: black;
}

.h2 {
    width: fit-content;
    margin: 25px auto;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.load {
    margin: 50px auto;
    width: 100vw;
    text-align: center;
}

/* BookCard */
.card-container {
    width: 300px;
    height: 500px;
    border: 1px solid #282c34;
    margin: 0 auto 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    transition: 1s ease;
    position: relative;
}

.card-container:hover {
    width: 303px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.991);
}

.card-container:active {
    box-shadow: 0 1px 1px rgba(124, 65, 65, 0.991);
    transition: 0.01s ease;

}

.card-container img {
    margin: 40px auto;
    width: 60%;
    display: flex;

}

.desc {
    left: 20px;
    bottom: 30px;
    height: 140px;
    padding: 10px;
    position: absolute;
}

.desc div {
    margin-bottom: 15px;
    max-width: 200px;
    max-height: 25px;
    overflow: hidden;
}

.desc h2 {
    max-width: 200px;
    max-height: 35px;
    overflow: hidden;

    font-weight: 400;
}

.desc h3 {
    max-width: 200px;
    max-height: 25px;
    font-weight: 500;
    overflow: hidden;

}

.desc p {
    bottom: 0;
    max-width: 200px;
    max-height: 25px;
    overflow: hidden;
    position: absolute;

}